#buttons {
	margin:0;
	padding:0;
	list-style: none;
	position: absolute;
	right: 25px;
	top:25px;
	width: 40px;
	z-index:0;
	-webkit-user-select:ignore;
}

#buttons li {
	list-style: none;
	list-style-position: outside;
	margin:0 0 15px;
	padding:0;
	height:41px;
	width:40px;
}

#buttons li a {
	background-image:url(../images/ui.png);
	border:none;
	display:block;
	height:41px;
	width:40px;
	text-indent: -999em;
	opacity : 0.8;
	outline: none;
	border-radius: 20px;
	-webkit-border-radius: 20px;

}

#buttons li a:hover, #buttons li a:active {
	opacity : 1;
}

#buttons li a.zoomin {
	background-position:0 -104px;
}

#buttons li a.zoomout {
	background-position: 0px -52px;
}

#buttons li a.gps {
	background-position:0 -155px;
}

#buttons li a.info {
	background-position:0 -206px;
}

#buttons li a.setting {
	background-position:0 2px;
}


#info {
	background: #fff;
	background: rgba(255,255,255,0.9);
	border: solid 4px #ccc;
	bottom:10px;
	display: none;
	left:10px;
	padding: 15px;
	position:absolute;
	right:10px;
	top:10px;
	-webkit-border-radius: 20px;
}

#info h1, #info p {
	margin: 0 0 15px;
}

#info h1 {
	font-weight: bold;
	font-size: 16px;
}

#info input[type=button] {
	background: #ccc;
	background: rgba(235,235,235,0.8);
	border: solid 4px #aaa;	
	bottom:10px;
	color: #000;
	display: block;
	font-weight: bold;
	font-size: 16px;
	left:10px;
	padding: 10px 15px;
	position:absolute;
	right:10px;
	-webkit-border-radius: 10px;
}

#info input[type=button]:hover {
	background: #ddd;
}

@media screen and (max-device-width: 320px) {
	#buttons {
		right: 15px;
		top:15px;
	}
}